<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="work">
          <h1 class="page-heading">{{ page.title }}</h1>
          {{ content }}
          {% assign groups = site.collections | where_exp: "collection", "collection.permalink contains page.slug" %}
          {% for group in groups %}
            {% if group.label contains "child" %}
            {% else %}
                <h2 class="page-subheading">{{ group.label | capitalize }}</h2> 
                {% assign items = site.documents | where_exp: "document", "document.collection == group.label" %}
                {% for item in items %}
                <div class="work-item">
                    <img
                      src="{{ item.image.src | absolute_url }}"
                      alt="{{ item.image.alt }}"
                      class="work-bubble"
                    />
                    <span class="work-text">
                      <strong>{{ item.title }}</strong>
                      &mdash;
                      {{ item.description }}
                    </span>
                  </div>
                {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
